@font-face {
  font-family: 'eurocaps';
  src: url('fonts/EUROCAPS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
input{visibility: hidden; opacity: 0;
position: fixed;}
body{
  background: #0d1117;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: 'eurocaps', serif;
}

.navbar{
    background-color: #0000005d;
    width: 100%;
    border: 0;
    border-bottom: 1px;
    height: 71px;

    border-color: aliceblue;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;

}

#rightsiders{
    display: flex;
    text-align:center;
    margin-right: 1px;
}

.rightside-buttons{
 color: whitesmoke;
 font-size: 30px;
 margin: 20px;
 caret-color: transparent;
 user-select: none;
 cursor: pointer;
 text-decoration: none;
}

.logo{
    color: whitesmoke;
    text-align: center;
    margin-left: 22px;
    font-size: 42px;
    caret-color: transparent;
    user-select: none;

}
.middle{
    width: 100vw;
    height: 100vh;
    display: flex;
  background: #0d1117;

}
.side_panel{ 
  
    background-color: #0000005d;
    height: 100%;
    width: 220px;
    z-index: 2;
    
    display:flex;
    flex-direction: column;
    flex-shrink: 0;

    text-align: center;
    
    border: 0;
    border-right: 1px;
    border-color: aliceblue;
    border-style: solid;


  transform: translateX(0%);
  transition: transform 0.4s ease-in-out;
  pointer-events: auto;
  opacity: 1;

    transition:
      transform 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
}

#sidebar-toggle:checked ~ .side_panel  {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  /* no transition or delay here! */
}
#sidebar-toggle:checked ~ .content  {
  margin-right: 110px;
  margin-left: 110px;
}


.pLink{
    margin: 13px;
    color: whitesmoke;
    
    
}

.pLink a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
        caret-color: transparent;
    user-select: none;
}

#current{
    color: rgb(178, 252, 255);
}

.content{
  flex-grow: 1;
  background: #0d1117;
  color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: top;
  align-content: top;
  text-align: center;

      transition: margin 0.4s ease-in-out;



 
}

.Hero{
    font-size: 45px;
    margin: 30px;
}

.middlee{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.959);
    margin: 30px;
    text-align: left;
    
}
.smallee{
    font-size: 10px;
    color: rgb(168, 168, 168);
}

#imagee{
    height: 450px;
    width: 600px;
}

.b8831{
  padding-bottom: 200px;
}









  .crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 3;
  background-size: 100% 2.4px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.37861;
  }
  5% {
  opacity: 0.44769;
  }
  10% {
  opacity: 0.33604;
  }
  15% {
  opacity: 0.20626;
  }
  20% {
  opacity: 0.28128;
  }
  25% {
  opacity: 0.20626;
  }
  30% {
  opacity: 0.28128;
  }
  35% {
  opacity: 0.33604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  animation: flicker 0.15s infinite;
} 