@font-face {
  font-family: 'eurocaps';
  src: url('fonts/EUROCAPS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: rgb(24, 24, 24);
    z-index: 1;
    overflow-x: hidden;
    margin: 0;
    font-family: 'eurocaps', serif;
}

.navbar{
    background-color: rgb(24, 24, 24);
    height:70px;
    width: 100%;
    border: 1px;
    border-color: aliceblue;
    border-style: solid;
    display: flex;
    align-items: center;
    align-content: center;

}
.logo{
    color: whitesmoke;
    text-align: center;
    margin-left: 22px;
    font-size: 42px;

}
.middle{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.side_panel{ 
  
    background-color: rgb(24, 24, 24);
    height: 100%;
    width: 220px;
    z-index: 200;

    display:flexbox;
    flex-direction: column;
    flex-shrink: 0;

    text-align: center;
    align-items: top;
    align-content: top;
        
    border: 1px;
    border-color: aliceblue;
    border-style: solid;
}

.pLink{
    margin: 13px;
    color: whitesmoke;
    
    
}

.pLink a {
    color: whitesmoke;
    text-decoration: none;
}

#current{
    color: rgb(208, 158, 255);
}

.content{
  flex-grow: 1;
  background: #1f1e1e;
  color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;


  align-items: top;
  align-content: top;
  text-align: center;

 
}

.Hero{
    font-size: 45px;
    margin: 30px;
}

.middlee{
    font-size: 19px;
    color: rgb(218, 218, 218);
    margin: 30px;
    text-align: left;
    
}
.smallee{
    font-size: 10px;
    color: rgb(168, 168, 168);
}

#imagee{
    height: 450px;
    width: 600px;
}